<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Project Template</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fab fa-rocketchat text-dark"> </i>
                </a>
              </li>
              <!-- <li class="breadcrumb-item">
                    <a href="javascript:void(0)" class="text-dark">
                        Project Template
                    </a>
                  </li>
                  <li aria-current="page" class="breadcrumb-item active">Project Template</li> -->
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Planning
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> 897 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-gradient-red
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="ni ni-active-40"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Design
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> 356 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-gradient-orange
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="ni ni-chart-pie-35"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Development
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> 92 </span>
                </div>

                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-gradient-green
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="ni ni-money-coins"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Testing
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> 65% </span>
                </div>

                <div class="col-auto">
                  <div
                    class="
                      icon icon-shape
                      bg-gradient-info
                      text-white
                      rounded-circle
                      shadow
                    "
                  >
                    <i class="ni ni-chart-bar-32"> </i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Project Budget</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminprojecttemplatemain1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">List of All Properties</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Overdue (Days) </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.over }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Tasks </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.task }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Deadline </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Employee </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Workload</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminprojecttemplatemain2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">Upcoming Deadline</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Employee </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Tasks </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.task }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Deadline </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Workload (%) </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.load }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">Project List</h5>
            </div>
            <div class="col-md-5 text-right">
              <button class="btn btn-default" (click)="openModal(addNew)">
                Add New
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Project Name </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.project }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Project Location </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.location }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Team Assigned </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.team }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Project Progress </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.load }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal(addNew)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-eye"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-danger btn-sm"
                    type="button"
                    title="Edit"
                    (click)="delete()"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-trash"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addNew>
  <div class="modal-header bg-default">
    <h6>Add Template</h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Message</label>
      <quill-editor></quill-editor>
    </div>
    <div class="form-group">
      <label class="form-control-label">Logo</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Icon</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Picture</label>
      <input class="form-control" type="file" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Color</label>
      <input class="form-control" placeholder="Enter Name" type="color" />
    </div>
  </div>
  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successSwal1('saved')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="modalRef.hide()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
