<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-12">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Preventive Maintenance
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-business-time text-dark"> </i>
                </a>
              </li>
              <!-- <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Screen Design
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Spare Part Registration
              </li> -->
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Project Progress</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminpreventivemaintenance1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header">
          <h5 class="h3 mb-0">Progress Track PM</h5>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <button class="btn btn-default btn-sm">View</button>
                </div>

                <div class="col">
                  <h5>Task A</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="warning" [value]="60"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <button class="btn btn-default btn-sm">View</button>
                </div>

                <div class="col">
                  <h5>Task B</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="success" [value]="100"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <button class="btn btn-default btn-sm">View</button>
                </div>

                <div class="col">
                  <h5>Task C</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="danger" [value]="72"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <button class="btn btn-default btn-sm">View</button>
                </div>

                <div class="col">
                  <h5>Task D</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="info" [value]="90"> </progressbar>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card card-calendar">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Calender</h5>
            </div>
            <div class="col text-right">
              <a
                class="fullcalendar-btn-prev btn btn-sm btn-neutral"
                href="javascript:void(0)"
                (click)="calendar.next()"
              >
                <i class="fas fa-angle-left"> </i>
              </a>

              <a
                class="fullcalendar-btn-next btn btn-sm btn-neutral"
                href="javascript:void(0)"
                (click)="calendar.prev()"
              >
                <i class="fas fa-angle-right"> </i>
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="month"
                href="javascript:void(0)"
                (click)="changeView('dayGridMonth')"
              >
                Month
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="basicWeek"
                href="javascript:void(0)"
                (click)="changeView('dayGridWeek')"
              >
                Week
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="basicDay"
                href="javascript:void(0)"
                (click)="changeView('dayGridDay')"
              >
                Day
              </a>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div
            class="calendar"
            data-toggle="calendar"
            id="calendarAdminpreventivemaintenance"
          ></div>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="new-event-label"
        class="modal fade"
        id="new-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalAdd>
            <div class="modal-body">
              <form class="new-event--form">
                <div class="form-group">
                  <label class="form-control-label"> Event title </label>

                  <input
                    class="
                      form-control form-control-alternative
                      new-event--title
                    "
                    id="new-event--title"
                    placeholder="Event Title"
                    type="text"
                    (change)="getNewEventTitle($event)"
                  />
                </div>

                <div class="form-group mb-0">
                  <label class="form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class="
                      btn-group btn-group-toggle btn-group-colors
                      event-tag
                    "
                    data-toggle="buttons"
                  >
                    <label
                      class="btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />
                    </label>

                    <label
                      class="btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />
                    </label>

                    <label
                      class="btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />
                    </label>

                    <label
                      class="btn bg-success"
                      [ngClass]="{ active: radios === 'bg-success' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-success"
                        (click)="radios = 'bg-success'"
                      />
                    </label>

                    <label
                      class="btn bg-default"
                      [ngClass]="{ active: radios === 'bg-default' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-default"
                        (click)="radios = 'bg-default'"
                      />
                    </label>

                    <label
                      class="btn bg-primary"
                      [ngClass]="{ active: radios === 'bg-primary' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-primary"
                        (click)="radios = 'bg-primary'"
                      />
                    </label>
                  </div>
                </div>

                <input class="new-event--start" type="hidden" />

                <input class="new-event--end" type="hidden" />
              </form>
            </div>

            <div class="modal-footer">
              <button
                class="btn btn-primary new-event--add"
                type="submit"
                (click)="addNewEvent()"
              >
                Add event
              </button>

              <button
                (click)="addModal.hide()"
                class="btn btn-link ml-auto"
                data-dismiss="modal"
                type="button"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="edit-event-label"
        class="modal fade"
        id="edit-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalEdit>
            <div class="modal-body">
              <form class="edit-event--form">
                <div class="form-group">
                  <label class="form-control-label"> Event title </label>

                  <input
                    class="
                      form-control form-control-alternative
                      edit-event--title
                    "
                    placeholder="Event Title"
                    type="text"
                    value="{{ eventTitle }}"
                    (change)="getNewEventTitle($event)"
                  />
                </div>

                <div class="form-group">
                  <label class="form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class="
                      btn-group btn-group-toggle btn-group-colors
                      event-tag
                      mb-0
                    "
                    data-toggle="buttons"
                  >
                    <label
                      class="btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />
                    </label>

                    <label
                      class="btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />
                    </label>

                    <label
                      class="btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />
                    </label>

                    <label
                      class="btn bg-success"
                      [ngClass]="{ active: radios === 'bg-success' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-success"
                        (click)="radios = 'bg-success'"
                      />
                    </label>

                    <label
                      class="btn bg-default"
                      [ngClass]="{ active: radios === 'bg-default' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-default"
                        (click)="radios = 'bg-default'"
                      />
                    </label>

                    <label
                      class="btn bg-primary"
                      [ngClass]="{ active: radios === 'bg-primary' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-primary"
                        (click)="radios = 'bg-primary'"
                      />
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label"> Description </label>

                  <textarea
                    class="
                      form-control form-control-alternative
                      edit-event--description
                      textarea-autosize
                    "
                    placeholder="Event Desctiption"
                    value="{{ eventDescription }}"
                    (change)="getNewEventDescription($event)"
                  ></textarea>

                  <i class="form-group--bar"> </i>
                </div>

                <input class="edit-event--id" type="hidden" />
              </form>
            </div>

            <div class="modal-footer">
              <button
                class="btn btn-primary"
                data-calendar="update"
                (click)="updateEvent()"
              >
                Update
              </button>

              <button
                class="btn btn-danger"
                data-calendar="delete"
                (click)="deleteEventSweetAlert()"
              >
                Delete
              </button>

              <button
                class="btn btn-link ml-auto"
                data-dismiss="modal"
                (click)="editModal.hide()"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">New PM Checklist</h5>
            </div>
            <div class="col-md-5 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="openModal(assignto)"
              >
                Assign to
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> PM Checklist No. </span>
                </ng-template>
                <ng-template
                  ngx-datatable-cell-template
                  let-rowIndex="rowIndex"
                  let-row="row"
                >
                  {{ rowIndex + 1 }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Description </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.remark }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Task Name </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.namepro }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Sequence No.</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.salary }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Estimated Labour Hour </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.coin }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal(addNew)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-eye"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">Completed Works</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Task Name </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.namepro }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Due Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.duedate }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Completed Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Time Spent </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.coin }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Completed By </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal(addNew)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-eye"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #assignto>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Assign To
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Description</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Task Name</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Sequence No.</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Estimate Labour Hour</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Attachment</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" lang="en" />
        <label class="custom-file-label">Select file</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      (click)="successSwal1('saved')"
    >
      Save
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #addNew>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Data
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Description</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Task Name</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Sequence No.</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Estimate Labour Hour</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Attachment</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" lang="en" />
        <label class="custom-file-label">Select file</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      (click)="successSwal1('saved')"
    >
      Save
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
