<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-12">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Failure Code Master List
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-handshake text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Contract Management
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Failure Code Master List
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-sm-3 col-md-6 col-lg-4 mb-4">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">Contracted</h2>
                    <h3 class="h3 mb-1 text-success">64%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">Unlisted</h2>
                    <h3 class="h3 mb-1 text-danger">45%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4">
          <div class="card border-light shadow-sm">
            <div class="card-body">
              <div class="row d-block d-xl-flex align-items-center">
                <div class="col-12 px-xl-0 text-center">
                  <div class="d-none d-sm-block">
                    <h2 class="h4">Vendors</h2>
                    <h3 class="h3 mb-1 text-primary">81%</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">
                Rate of Contract Compliance by Vendors Category
              </h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
              <thead class="thead-light">
                <tr>
                  <th>CATEGORY & TOP VENDORS</th>
                  <th># VENDORS</th>
                  <th>SHARE OF MANAGED VENDORS BY CATEGORY</th>
                </tr>
              </thead>
              <tbody>
                <!-- Item -->
                <tr>
                  <td>Category 6</td>
                  <td>28</td>
                  <td>
                    <div class="progress" style="height: 20px">
                      <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        style="width: 25%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        25%
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- Item -->
                <tr>
                  <td>Category 6</td>
                  <td>28</td>
                  <td>
                    <div class="progress" style="height: 20px">
                      <div
                        class="progress-bar bg-danger"
                        role="progressbar"
                        style="width: 95%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        95%
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- Item -->
                <tr>
                  <td>Category 6</td>
                  <td>28</td>
                  <td>
                    <div class="progress" style="height: 20px">
                      <div
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 55%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        55%
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- Item -->
                <tr>
                  <td>Category 6</td>
                  <td>28</td>
                  <td>
                    <div class="progress" style="height: 20px">
                      <div
                        class="progress-bar bg-secondary"
                        role="progressbar"
                        style="width: 76%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div class="text-dark">76%</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <!-- Item -->
                <tr>
                  <td>Category 6</td>
                  <td>28</td>
                  <td>
                    <div class="progress" style="height: 20px">
                      <div
                        class="progress-bar bg-gray"
                        role="progressbar"
                        style="width: 64%"
                        aria-valuenow="25"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        64%
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h5 class="h3 mt-2 mb-0">Search Vendor</h5>
            </div>
            <!-- <div class="col-md-6 text-right">
                  <button
                    class="btn btn-success"
                    type="button"
                    (click)="openModal(createUser)"
                  >
                    Export
                  </button>
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="openModal(createUser)"
                  >
                    Upload
                  </button>
                  <button
                    class="btn btn-default"
                    type="button"
                    (click)="openModal(createUser)"
                  >
                    Add New
                  </button>
                </div> -->
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group">
                <label for="exampleFormControlSelect2">Category</label>
                <select class="form-control" id="exampleFormControlSelect2">
                  <option selected>Choose</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="form-group">
                <label for="exampleFormControlSelect2">Scale</label>
                <select class="form-control" id="exampleFormControlSelect2">
                  <option selected>Choose</option>
                  <option value="1">Big</option>
                  <option value="2">Medium</option>
                  <option value="3">Small</option>
                </select>
              </div>
            </div>

            <div class="col-xl-12 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="successSwal1('searched')"
              >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h5 class="h3 mt-2 mb-0">List of Failure Code</h5>
            </div>
            <!-- <div class="col-md-6 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="openModal(addNew)"
              >
                Add New
              </button>
            </div> -->
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Failure Code No.</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.prno }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Failure Code Description</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.descr }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Failure Code List</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.pono }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
