<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Analysis Budget</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-road text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Budgeting & Planning
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Analysis Budget
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Cash Flow</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminbugetplananalysis1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">Reporting</h5>
            </div>
            <div class="col-md-5 text-right">
              <button
                class="btn btn-default"
                type="button"
                (click)="openModal(createNew)"
              >
                Add New
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Organization Holder Name </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Budget Cost </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.debit }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Description </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.remark }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Status</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row.status == 'opened'"
                    class="badge badge-pill badge-success"
                    >Completed</span
                  >
                  <span
                    *ngIf="row.status == 'draft'"
                    class="badge badge-pill badge-primary"
                    >In-progress</span
                  >
                  <span
                    *ngIf="row.status == 'closed'"
                    class="badge badge-pill badge-danger"
                    >Decline</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-success btn-sm"
                    type="button"
                    title="Download Excel"
                    (click)="successSwal('downloaded to excel')"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-file-excel"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-danger btn-sm"
                    type="button"
                    title="Print"
                    (click)="successSwal('downloaded to pdf')"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-file-pdf"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createNew>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Create Budget
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label class="form-control-label">Organization Holder Name</label>
      <input class="form-control" placeholder="Type here..." type="text" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Start Date</label>
      <input class="form-control" placeholder="2021-01-01" type="date" />
    </div>
    <div class="form-group">
      <label class="form-control-label">End Date</label>
      <input class="form-control" placeholder="2021-01-01" type="date" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Budget Cost (RM)</label>
      <input class="form-control" placeholder="0000" type="number" />
    </div>
    <div class="form-group">
      <label class="form-control-label">Description</label>
      <textarea
        class="form-control"
        placeholder="Type here..."
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <label class="form-control-label">Cost of Sales</label>
      <input class="form-control" placeholder="0000" type="number" />
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-success"
      type="button"
      (click)="successSwal1('saved')"
    >
      Save
    </button>

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
