<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-12">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Spare Part Registration
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-desktop text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Screen Design
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Spare Part Registration
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Registered Spare Part by Month</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminscreendesign1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">Type of Spare Part</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminscreendesign2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">Spare Part Records</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> ID </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.id }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Part Description </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.partdes }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Inventory Code </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.ivencode }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Specification </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.spec }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Manufacturer </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.manufac }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Unit of Measurement </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.unitmes }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Attribute Group </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.atrrgro }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Standard Price (RM) </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.price }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Notes </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.note }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Location </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.location }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Max Level </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.maxl }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Reorder Level </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.reorl }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Recorder Quantity </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.reorq }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Supplier </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.supp }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">Inventory Master List</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Inventory Code </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.ivencode }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Inventory Description </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.ivendes }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Location </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.location }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
