<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Dashboard</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header bg-secondary">
              <div class="row align-items-center">
                <div class="col-7">
                  <h5 class="h3 m-0">Outstanding Revenue</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-9">
                  <div class="mt-2">
                    <progressbar
                      class="bg-warning"
                      max="100"
                      [value]="60"
                      type="yellow"
                      [striped]="true"
                      [animate]="true"
                      style="height: 35px"
                    ></progressbar>
                  </div>
                </div>
                <div class="col-md-3">
                  <h2 class="h1 mb-0 text-success mt-0">RM5,734</h2>

                  <span class="text-nowrap"> Total Outstanding </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Total Profit</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadmindash1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <!-- <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Assessment Analysis</h5>
            </div>
          </div>
        </div> -->

        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="box1">
                <div class="row">
                  <div class="col-12 mt-5">
                    <p class="text-white"><b> 350 </b></p>
                  </div>
                  <div class="col-12 mb-5">
                    <p class="text-white">Tenant</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box2">
                <div class="row">
                  <div class="col-12 mt-5">
                    <p class="text-white"><b> 877 </b></p>
                  </div>
                  <div class="col-12 mb-5">
                    <p class="text-white">Occupied Units</p>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="col-lg-6 mt-3">
              <div class="box3">
                <div class="row">
                  <div class="col-12 mt-5">
                    <p class="text-white"><b> 678 </b></p>
                  </div>
                  <div class="col-12 mb-5">
                    <p class="text-white">Units Total</p>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="col-lg-6 mt-3">
              <div class="box4">
                <div class="row">
                  <div class="col-12 mt-5">
                    <p class="text-white"><b> 123 </b></p>
                  </div>
                  <div class="col-12 mb-5">
                    <p class="text-white">Pending Maintenance Requests</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Progress Track</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/avatar.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Task A</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="warning" [value]="60"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/avatar.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Task B</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="success" [value]="100"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/avatar.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Task C</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="danger" [value]="72"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col-auto">
                  <a class="avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/default/avatar.png"
                    />
                  </a>
                </div>

                <div class="col">
                  <h5>Task D</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="info" [value]="90"> </progressbar>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Total Expense</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadmindash2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Asset</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadmindash3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
