.box1 {
  width: 100%;
  height: 100%;
  background-color: #172b4d;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.box2 {
  width: 100%;
  height: 100%;
  background-color: #2dce89;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.box3 {
  width: 100%;
  height: 100%;
  background-color: #fb6340;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.box4 {
  width: 100%;
  height: 100%;
  background-color: #f5365c;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}
