<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Lease Admin</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-list text-dark"> </i>
                </a>
              </li>
              <!-- <li class="breadcrumb-item">
                  <a href="javascript:void(0)" class="text-dark">
                      Lease Admin
                  </a>
                </li>
                <li aria-current="page" class="breadcrumb-item active">Lease Admin</li> -->
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12">
      <div class="card card-calendar">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Calender</h5>
            </div>
            <div class="col text-right">
              <a
                class="fullcalendar-btn-prev btn btn-sm btn-neutral"
                href="javascript:void(0)"
                (click)="calendar.next()"
              >
                <i class="fas fa-angle-left"> </i>
              </a>

              <a
                class="fullcalendar-btn-next btn btn-sm btn-neutral"
                href="javascript:void(0)"
                (click)="calendar.prev()"
              >
                <i class="fas fa-angle-right"> </i>
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="month"
                href="javascript:void(0)"
                (click)="changeView('dayGridMonth')"
              >
                Month
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="basicWeek"
                href="javascript:void(0)"
                (click)="changeView('dayGridWeek')"
              >
                Week
              </a>

              <a
                class="btn btn-sm btn-neutral"
                data-calendar-view="basicDay"
                href="javascript:void(0)"
                (click)="changeView('dayGridDay')"
              >
                Day
              </a>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <div
            class="calendar"
            data-toggle="calendar"
            id="calendarAdminleaseadminmain"
          ></div>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="new-event-label"
        class="modal fade"
        id="new-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalAdd>
            <div class="modal-body">
              <form class="new-event--form">
                <div class="form-group">
                  <label class="form-control-label"> Event title </label>

                  <input
                    class="
                      form-control form-control-alternative
                      new-event--title
                    "
                    id="new-event--title"
                    placeholder="Event Title"
                    type="text"
                    (change)="getNewEventTitle($event)"
                  />
                </div>

                <div class="form-group mb-0">
                  <label class="form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class="
                      btn-group btn-group-toggle btn-group-colors
                      event-tag
                    "
                    data-toggle="buttons"
                  >
                    <label
                      class="btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />
                    </label>

                    <label
                      class="btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />
                    </label>

                    <label
                      class="btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />
                    </label>

                    <label
                      class="btn bg-success"
                      [ngClass]="{ active: radios === 'bg-success' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-success"
                        (click)="radios = 'bg-success'"
                      />
                    </label>

                    <label
                      class="btn bg-default"
                      [ngClass]="{ active: radios === 'bg-default' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-default"
                        (click)="radios = 'bg-default'"
                      />
                    </label>

                    <label
                      class="btn bg-primary"
                      [ngClass]="{ active: radios === 'bg-primary' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-primary"
                        (click)="radios = 'bg-primary'"
                      />
                    </label>
                  </div>
                </div>

                <input class="new-event--start" type="hidden" />

                <input class="new-event--end" type="hidden" />
              </form>
            </div>

            <div class="modal-footer">
              <button
                class="btn btn-primary new-event--add"
                type="submit"
                (click)="addNewEvent()"
              >
                Add event
              </button>

              <button
                (click)="addModal.hide()"
                class="btn btn-link ml-auto"
                data-dismiss="modal"
                type="button"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>

      <div
        aria-hidden="true"
        aria-labelledby="edit-event-label"
        class="modal fade"
        id="edit-event"
        role="dialog"
        tabindex="-1"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-secondary"
          role="document"
        >
          <ng-template #modalEdit>
            <div class="modal-body">
              <form class="edit-event--form">
                <div class="form-group">
                  <label class="form-control-label"> Event title </label>

                  <input
                    class="
                      form-control form-control-alternative
                      edit-event--title
                    "
                    placeholder="Event Title"
                    type="text"
                    value="{{ eventTitle }}"
                    (change)="getNewEventTitle($event)"
                  />
                </div>

                <div class="form-group">
                  <label class="form-control-label d-block mb-3">
                    Status color
                  </label>

                  <div
                    class="
                      btn-group btn-group-toggle btn-group-colors
                      event-tag
                      mb-0
                    "
                    data-toggle="buttons"
                  >
                    <label
                      class="btn bg-info"
                      [ngClass]="{ active: radios === 'bg-info' }"
                    >
                      <input
                        autocomplete="off"
                        checked="checked"
                        name="event-tag"
                        type="radio"
                        value="bg-info"
                        (click)="radios = 'bg-info'"
                      />
                    </label>

                    <label
                      class="btn bg-warning"
                      [ngClass]="{ active: radios === 'bg-warning' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-warning"
                        (click)="radios = 'bg-warning'"
                      />
                    </label>

                    <label
                      class="btn bg-danger"
                      [ngClass]="{ active: radios === 'bg-danger' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-danger"
                        (click)="radios = 'bg-danger'"
                      />
                    </label>

                    <label
                      class="btn bg-success"
                      [ngClass]="{ active: radios === 'bg-success' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-success"
                        (click)="radios = 'bg-success'"
                      />
                    </label>

                    <label
                      class="btn bg-default"
                      [ngClass]="{ active: radios === 'bg-default' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-default"
                        (click)="radios = 'bg-default'"
                      />
                    </label>

                    <label
                      class="btn bg-primary"
                      [ngClass]="{ active: radios === 'bg-primary' }"
                    >
                      <input
                        autocomplete="off"
                        name="event-tag"
                        type="radio"
                        value="bg-primary"
                        (click)="radios = 'bg-primary'"
                      />
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label"> Description </label>

                  <textarea
                    class="
                      form-control form-control-alternative
                      edit-event--description
                      textarea-autosize
                    "
                    placeholder="Event Desctiption"
                    value="{{ eventDescription }}"
                    (change)="getNewEventDescription($event)"
                  ></textarea>

                  <i class="form-group--bar"> </i>
                </div>

                <input class="edit-event--id" type="hidden" />
              </form>
            </div>

            <div class="modal-footer">
              <button
                class="btn btn-primary"
                data-calendar="update"
                (click)="updateEvent()"
              >
                Update
              </button>

              <button
                class="btn btn-danger"
                data-calendar="delete"
                (click)="deleteEventSweetAlert()"
              >
                Delete
              </button>

              <button
                class="btn btn-link ml-auto"
                data-dismiss="modal"
                (click)="editModal.hide()"
              >
                Close
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5 class="h3 mb-0">Maintenance Property</h5>
        </div>

        <div class="card-body p-0">
          <ul class="list-group list-group-flush" data-toggle="checklist">
            <li
              class="
                checklist-entry
                list-group-item
                flex-column
                align-items-start
                py-4
                px-4
              "
            >
              <div class="checklist-item checklist-item-success">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">
                    Expenses by each building
                  </h5>
                </div>

                <div>
                  <div
                    class="
                      custom-control custom-checkbox custom-checkbox-success
                    "
                  >
                    <input
                      checked="checked"
                      class="custom-control-input"
                      id="chk-todo-task-1-lease-admin-main"
                      type="checkbox"
                    />

                    <label
                      class="custom-control-label"
                      for="chk-todo-task-1-lease-admin-main"
                    >
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class="
                checklist-entry
                list-group-item
                flex-column
                align-items-start
                py-4
                px-4
              "
            >
              <div class="checklist-item checklist-item-warning">
                <div class="checklist-info">
                  <h5 class="checklist-title mb-0">Refurbishment</h5>
                </div>

                <div>
                  <div
                    class="
                      custom-control custom-checkbox custom-checkbox-warning
                    "
                  >
                    <input
                      class="custom-control-input"
                      id="chk-todo-task-2-lease-admin-main"
                      type="checkbox"
                    />

                    <label
                      class="custom-control-label"
                      for="chk-todo-task-2-lease-admin-main"
                    >
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header"><h5 class="h3 mb-0">CAPEX Progress</h5></div>

        <div class="card-body">
          <ul class="list-group list-group-flush list my--3">
            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Approved</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="warning" [value]="60"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>On-going</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="success" [value]="100"> </progressbar>
                  </div>
                </div>
              </div>
            </li>

            <li class="list-group-item px-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5>Completed</h5>

                  <div class="progress-xs mb-0">
                    <progressbar type="danger" [value]="72"> </progressbar>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-md-7">
              <h5 class="h3 mb-0">
                Tenant Accounts Receivables Credit Control (ARCC)
              </h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Rental Income Payment </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.debit }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Statement of Account </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.credit }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Deposit </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.netMove }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Start Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> End Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.duedate }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="Edit"
                    (click)="openModal1(addNew)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-eye"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addNew>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Add New
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef1.hide()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>
            Tenant Accounts Receivables Credit Control (ARCC)
          </ng-template>
          <!-- <h5 class="h3 mb-3">Part 1</h5> -->
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label">Rental Income Payment</label>

                <input class="form-control" placeholder="0000" type="number" />
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label">Statement of Account</label>

                <input
                  class="form-control"
                  placeholder="Type here..."
                  type="text"
                />
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label">Deposit</label>

                <input class="form-control" placeholder="0000" type="number" />
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label">Start Date</label>

                <input
                  class="form-control"
                  placeholder="2021-01-01"
                  type="date"
                />
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label">End Date</label>

                <input
                  class="form-control"
                  placeholder="2021-01-01"
                  type="date"
                />
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label">Attachment</label>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    lang="en"
                  />
                  <label
                    class="custom-file-label"
                    >Select file</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-default" mat-button matStepperNext>
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel> Payment </ng-template>
          <!-- <h5 class="h3 mb-3">Part 2</h5> -->
          <div class="row">
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label"> Name Holder </label>

                <input
                  class="form-control"
                  placeholder="Type here..."
                  type="text"
                />
              </div>
            </div>
            <div class="col-xl-6">
              <div class="form-group">
                <label class="form-control-label"> Account No. </label>

                <input
                  class="form-control"
                  placeholder="000000000000"
                  type="text"
                />
              </div>
            </div>
            <div class="col-xl-12">
              <div class="form-group">
                <label class="form-control-label"> Description </label>
                <textarea
                  class="form-control"
                  placeholder="Type here..."
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-danger" mat-button matStepperPrevious>
              Back
            </button>
            <button class="btn btn-default" mat-button matStepperNext>
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel> Payment Gateway </ng-template>

          <div class="row">
            <div class="col-xl-12">
              <ul class="list-group list-group-flush list">
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-md-3 text-center py-3">
                      <img
                        width="90%"
                        alt="Image placeholder"
                        src="assets/img/default/paypal-logo.png"
                      />
                    </div>

                    <div class="col-md-6 py-3 pt-3">
                      <h4>Paypal</h4>
                      <p>
                        A payment channel is any way that a customer can make a
                        payment, or anywhere that YOU (the merchant) might
                        accept a payment. Payment channels are specifically
                        associated with how the payment is made.
                      </p>
                    </div>

                    <div class="col-md-3">
                      <button class="btn btn-info">Print</button>
                      <button class="btn btn-success">Enable</button>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Disable</button>
                    </div>
                  </div>
                </li>
              </ul>
              <br />
              <ul class="list-group list-group-flush list">
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-md-3 text-center py-3">
                      <img
                        width="90%"
                        alt="Image placeholder"
                        src="assets/img/default/mb-logo.png"
                      />
                    </div>

                    <div class="col-md-6 py-3 pt-3">
                      <h4>Maybank</h4>
                      <p>
                        A payment channel is any way that a customer can make a
                        payment, or anywhere that YOU (the merchant) might
                        accept a payment. Payment channels are specifically
                        associated with how the payment is made.
                      </p>
                    </div>

                    <div class="col-md-3">
                      <button class="btn btn-info">Print</button>
                      <button class="btn btn-success">Enable</button>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Disable</button>
                    </div>
                  </div>
                </li>
              </ul>
              <br />
              <ul class="list-group list-group-flush list">
                <li class="list-group-item px-0">
                  <div class="row align-items-center">
                    <div class="col-md-3 text-center py-3">
                      <img
                        width="90%"
                        alt="Image placeholder"
                        src="assets/img/default/cimb-logo.png"
                      />
                    </div>

                    <div class="col-md-6 py-3 pt-3">
                      <h4>Cimb</h4>
                      <p>
                        A payment channel is any way that a customer can make a
                        payment, or anywhere that YOU (the merchant) might
                        accept a payment. Payment channels are specifically
                        associated with how the payment is made.
                      </p>
                    </div>

                    <div class="col-md-3">
                      <button class="btn btn-info">Print</button>
                      <button class="btn btn-success">Enable</button>
                      <button class="btn btn-primary">Edit</button>
                      <button class="btn btn-danger">Disable</button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div>
            <button class="btn btn-danger" mat-button matStepperPrevious>
              Back
            </button>
            <button
              class="btn btn-default"
              mat-button
              (click)="successSwal1('submitted')"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div class="modal-footer">
    <!-- <button
              class="btn btn-success"
              type="button"
              (click)="successSwal('saved')"
            >
              Save
            </button> -->

    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef1.hide()"
    >
      Close
    </button>
  </div>
</ng-template>
