<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Currency</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-road text-dark"> </i>
                </a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" class="text-dark">
                  Budgeting & Planning
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Currency
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Net Revenue
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> RM10,435 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Net Payment Receive
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> RM12,641 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">MRR</h5>

                  <span class="h2 font-weight-bold mb-0"> RM6,723 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Active Subcriptiom
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> 3435 </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-stats">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Unpaid Amount
                  </h5>

                  <span class="h2 font-weight-bold mb-0"> RM2,489 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">Sales</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminbugetplancurrency1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col-7">
              <h5 class="h3 m-0">New Sales</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivadminbugetplancurrency2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mt-2 mb-0">List of Currency</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="5" [selected]="entries == 5">5</option>
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="15" [selected]="entries == 15">15</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    records
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Start Date </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Ledger </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.accNo }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Rate (%) </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.coin }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> GDP </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.category }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Currency </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <select class="form-control">
                    <option hidden selected>Choose</option>
                    <option value="1">RM</option>
                    <option value="2">USD</option>
                    <option value="3">Euro</option>
                  </select>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Action </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <!-- <button
                          class="btn btn-icon btn-success btn-sm"
                          type="button"
                          title="Update"
                          (click)="openModal(addNew)"
                        >
                          <span class="btn-inner--icon">
                            <i class="fas fa-edit"> </i>
                          </span>
                        </button>
                    <button
                      class="btn btn-icon btn-success btn-sm"
                      type="button"
                      title="Approve"
                      (click)="successSwal('approved')"
                    >
                      <span class="btn-inner--icon">
                        <i class="fas fa-check-circle"> </i>
                      </span>
                    </button> -->
                  <button
                    class="btn btn-icon btn-danger btn-sm"
                    type="button"
                    title="Print"
                    (click)="successSwal('printed')"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-print"> </i>
                    </span>
                  </button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
